.header-menu {
    width: 1146px;
    margin: 0 auto;
    display: inline-block;
}
.header-menu .menu {
    
}
.header-menu .menu-list {
    list-style: none;
    margin: 0;
    padding: 0;
}
.header-menu .menu-item {
    display: inline-block;
    text-transform: uppercase;
    vertical-align: middle;
    padding: 0 20px;
}
.content {

}
.content .image-content {
       width: 100%;

}
.content .content-title {
    text-transform: uppercase;
    padding: 0 250px;
    margin: auto;

}
.content .content-text {
    width: 1145px;
    font-family: 'Montserrat';
    font-style: normal;
    text-align: center;
    color: #373737;
    padding: 0 68px;
    margin: auto;
    
}
.content .button {
    width: 190px;
    height: 50px;
    background: #FF0000;
    border-radius: 4px;

}
.footer-text {
        text-align: right;
}